html {
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

body {
    background-color: #f4f4f4;
}

#skip {
    position: absolute;
    top: 0; 
    left: -999px; 
    width: 200px;
    padding: 10px; 
    background-color: #000; 
    color: #fff; 
    text-align: center; 
    z-index: 1;
}

#skip:focus {
    left: 10px; 
    top: 70px; 
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: #2A70B2; 
    margin: 0;
    padding: 0;
}

nav li {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
}

nav li a {
    color: white; 
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    display: block;
}

nav li a:hover {
    text-decoration: underline;
}

nav li.pets {
    background-color: #2A4A78; 
    border: 2px solid black;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    opacity: 0;  
    animation: fadeIn 3s forwards;  
}

div:hover {
    transform: translateY(-10px);
}

/* mobile view below */
@media only screen and (max-width: 600px) {
    
    #skip {
        display: none;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        width: 100%;
    }

    body {
        font-size: 16px;
    }

    main {
        grid-template-columns: 1fr;
    }

    div {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

}

/* tablet view */
@media only screen and (max-width: 800px) and (min-width: 601px) {
    nav {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    
    nav ul {
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    
    body {
        font-size: 20px;
    }

    div:hover {
        transform: scale(1.03);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    
    h1 {
        font-size: 2.8rem;
        margin-top: 30px;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    div {
        padding: 20px;
    }

    img:hover {
        transform: scale(1.05);
    }

    nav li a {
        padding: 20px 10px;
    }

    a.button, button {
        font-size: 18px;
        padding: 15px 25px;
    }

    video {
        width: 100%;
        border-radius: 10px;
    }
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    background-color: #0077CC;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 15px 20px;
    border-radius: 15px;
    border: 3px solid #005799;
    text-transform: uppercase;
    transition: transform 0.3s ease;
}

h2, h3 {
    margin-top: 20px;
    color: #333;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

